{
	"presets": ["next/babel"],
	"plugins": [
		"react-optimized-image/plugin",
		["styled-components", { "ssr": true, "displayName": true }]
	]
	],
	"env": {
		"production": {
			"plugins": [["react-remove-properties", { "properties": ["data-testid"] }]]
		},
	}
}
