{
	"extends": ["react-app"],
	"plugins": ["prettier"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"prettier/prettier": "error",
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"comma-dangle": [
			"error",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "always-multiline",
				"functions": "never"
			}
		],
		"jsx-a11y/anchor-is-valid": "off",
		"jsx-a11y/alt-text": "off",
		"import/no-anonymous-default-export": "off",
		"no-console": "error",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{ 
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		]
	}

}
