auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]='*@ethersproject/providers*'
public-hoist-pattern[]='*@ethersproject/abi*'
public-hoist-pattern[]='*@ethersproject/bignumber*'
public-hoist-pattern[]='*bn.js*'
public-hoist-pattern[]='*moment*'
public-hoist-pattern[]='@wagmi/core'
