:root:not(.theme-dark) {
    --tv-color-platform-background: #ffffff;
    --tv-color-pane-background: rgb(251, 223, 244);
    --tv-color-pane-background-secondary: rgb(249, 185, 233);
    --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
    --tv-color-toolbar-button-background-secondary-hover: red;
    --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
    --tv-color-toolbar-button-text: rgb(136, 24, 79);
    --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
    --tv-color-toolbar-button-text-active: red;
    --tv-color-toolbar-button-text-active-hover: red;
    --tv-color-item-active-text: rgb(6, 6, 255);
    --tv-color-toolbar-toggle-button-background-active: red;
    --tv-color-toolbar-toggle-button-background-active-hover: magenta;
}

.theme-dark:root {
    --tv-color-platform-background: #110E09;
    --tv-color-pane-background: transparent;
    --tv-color-pane-background-secondary: #08080F;
    --tv-color-toolbar-button-background-hover: #3A3A3A;
    --tv-color-toolbar-button-background-secondary-hover: #3A3A3A;
    --tv-color-toolbar-button-background-expanded: #787878;
    --tv-color-toolbar-tooltip-text: #787878;
    --tv-color-toolbar-button-text: #787878;
    --tv-color-toolbar-button-text-hover: #787878;
    --tv-color-toolbar-button-text-active: #787878;
    --tv-color-toolbar-button-text-active-hover: #787878;
    --tv-color-item-active-text: #787878;
    --tv-color-toolbar-toggle-button-background-active: #2F2F48;
    --tv-color-toolbar-toggle-button-background-active-hover: #787878;
}

.custom-button {
    height: 34px;
    line-height: 34px;
    border-radius: 2px;
    color: #787878 !important;
}
.custom-button:hover {
    background: #3A3A3A;
}




