name: Kwenta CI

on:
  pull_request:
    branches: [main, dev]

jobs:
  audit:
    runs-on: ubuntu-latest

    container:
      image: synthetixio/docker-sec-tools:16.14-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Audit dependencies
        run: npm audit --audit-level=critical

      - name: Lockfile lint
        run: lockfile-lint -p package-lock.json --type npm --allowed-hosts npm github.com --allowed-schemes "https:" "git+ssh:" "npm:"

  lint:
    runs-on: ubuntu-latest

    container:
      image: synthetixio/docker-node:16.14-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Set npm cache directory
        run: npm config set cache .npm-cache --global
        continue-on-error: true

      - name: Cache node modules
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # pin@v3
        with:
          path: |
            .npm-cache
            node_modules
          key: ${{ runner.os }}-alpine-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-alpine-cache-
        continue-on-error: true

      # fixes permission issues on gh actions + docker + npm@8
      - name: Chown workspace
        run: chown -R $(whoami) .

      # mkdir -p node_modules fixes https://github.com/npm/cli/issues/3208 starting from npm@7
      - name: Install dependencies
        run: |
          mkdir -p node_modules
          npm install --prefer-offline --no-audit --legacy-peer-deps

      - name: Lint
        run: npm run lint:sarif

      - name: Upload lint results
        uses: github/codeql-action/upload-sarif@b2a92eb56d8cb930006a1c6ed86b0782dd8a4297 # pin@codeql-bundle-20220322
        with:
          sarif_file: lint-results.sarif
        continue-on-error: true

      - name: Unit tests
        run: npm run test:unit

  build:
    needs: lint
    # run only on lint success or lint skipped
    if: always() && (needs.lint.result == 'success' || needs.lint.result == 'skipped')
    runs-on: ubuntu-latest

    container:
      image: synthetixio/docker-node:16.14-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # pin@v2

      - name: Set npm cache directory
        run: npm config set cache .npm-cache --global
        continue-on-error: true

      - name: Cache node modules
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # pin@v3
        with:
          path: |
            .npm-cache
            node_modules
          key: ${{ runner.os }}-alpine-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-alpine-cache-
        continue-on-error: true

      # fixes permission issues on gh actions + docker + npm@8
      - name: Chown workspace
        run: chown -R $(whoami) .

      # mkdir -p node_modules fixes https://github.com/npm/cli/issues/3208 starting from npm@7
      - name: Install dependencies
        run: |
          mkdir -p node_modules
          npm install --prefer-offline --no-audit --legacy-peer-deps

      - name: Cache next.js build cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # pin@v2
        with:
          path: .next/cache
          key: ${{ runner.os }}-next-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-next-cache-
        continue-on-error: true

      - name: Build
        run: npm run build

      - name: Compress build
        run: tar -zcvf build.tar.gz .next

      - name: Archive build
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # pin@v3
        with:
          name: build
          path: build.tar.gz
